<% @entries.each do |e| %>
  <h2><%= e.user.name %>さんとのチャット</h2>
<% end %>
<div class="chat">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
    <div><%=.message %></div>
    <% end %>
  <% end %>
</div>
<div>
  <%= from_with model: @message, do |f| %>
    <%= f.text_field %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "送信" %>
  <% end %>
</div>